[submodule "Pll"]
path = Pll
url = https://github.com/Unreal-Technologies/Pll
[submodule "Tools"]
path = Tools
url = https://github.com/Unreal-Technologies/Tools
[submodule "UT.Php.Core"]
path = UT.Php.Core
url = https://github.com/Unreal-Technologies/UT.Php.Core